<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Customer</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"/>
    <script src="/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="/bootstrap.min.css">
    <script src="/jquery-3.6.3.min.js"></script>
    <style>
        a.nav-link,
        a.navbar-brand{
            color: #E18665
        }
        .navbar{
            background-color: #046056;
        }
        button.save,
        a.save {
            background-color: #046056;
            color: white;
        }

        .fs-3 {
            color: #046056;
            font-weight: bold;
        }
    </style>
</head>
<body>
<header th:insert="~{index::header}"></header>
<p class="text-center fs-3">Customer Edit</p>
<div class="col-md-4 offset-md-4">
    <div class="card">
        <div class="card-body">
            <form th:method="post" th:object="${customerDto}" th:action="@{/customer/update}" id="formEdit">
                <div class="row">
                    <input id="cusId" class="form-control" th:field="*{id}" hidden>
                    <div class="mb-3">
                        <label class="form-label">Name</label>
                        <input id="cusName" type="text" class="form-control" th:field="*{name}">
                        <label class="text-danger" th:if="${#fields.hasErrors('name')}"
                               th:errors="*{name}">Name
                            Error</label>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Date Of Birth</label>
                        <input id="cusDOB" type="date" class="form-control" th:field="*{dateOfBirth}">
                        <label class="text-danger"
                               th:if="${#fields.hasErrors('dateOfBirth')}"
                               th:errors="*{dateOfBirth}"></label>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Gender</label><br>
                        <select id="cusGender" class="form-select" th:field="*{gender}">
                            <option th:value="true">Man</option>
                            <option th:value="false">Woman</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">ID Card</label>
                        <input id="cusIdCard" type="text" class="form-control" th:field="*{idCard}">
                        <label class="text-danger"
                               th:if="${#fields.hasErrors('idCard')}"
                               th:errors="*{idCard}"></label>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Phone Number</label>
                        <input id="cusPhoneNumber" type="text" class="form-control" th:field="*{phoneNumber}">
                        <label class="text-danger"
                               th:if="${#fields.hasErrors('phoneNumber')}"
                               th:errors="*{phoneNumber}"></label>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Address</label>
                        <input id="cusAddress" type="text" class="form-control" th:field="*{address}">
                        <label class="text-danger"
                               th:if="${#fields.hasErrors('address')}"
                               th:errors="*{address}"></label>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Email</label>
                        <input id="cusEmail" type="text" class="form-control" th:field="*{email}">
                        <label class="text-danger"
                               th:if="${#fields.hasErrors('email')}"
                               th:errors="*{email}"></label>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Customer Type </label><br>
                        <select id="cusTypeId" class="form-select" th:field="*{customerType}">
                            <option th:each="customerType:${customerTypeList}"
                                    th:value="${customerType.id}"
                                    th:text="${customerType.name}"></option>
                        </select>
                    </div>
                </div>
            </form>
            <button type="button" class="btn btn-primary btn-md" id="cancel">Cancel</button>
            <button type="submit" class="btn btn-primary btn-md save" form="formEdit">Save</button>
        </div>
    </div>
</div>
<footer th:insert="~{index::footer}"></footer>
<script>
    let cancel = document.getElementById("cancel");
    cancel.addEventListener("click", () => window.history.back());
</script>
</body>
</html>