<footer class="container-fluid footer">
  <div class="container">
    <ul class="d-flex justify-content-around ">
      <li>
        <a href="https://www.hackerrank.com/products" data-event-label="footer"
           data-event-action="Products">Products<span class="menu-item__bullets"></span></a>
        <ul class="sub-menu">
          <li><a
            href="https://www.hackerrank.com/products/developer-skills-platform/" data-event-label="footer"
            data-event-action="Remote First Hiring">Remote First Hiring</a>
          <li><a
            href="https://www.hackerrank.com/products/developer-skills-platform/plan/" data-event-label="footer"
            data-event-action="Remote First Planning">Remote First Planning</a>
          <li><a
            href="https://www.hackerrank.com/products/developer-skills-platform/screen/" data-event-label="footer"
            data-event-action="Remote First Screening">Remote First Screening</a>
          <li><a
            href="https://www.hackerrank.com/products/developer-skills-platform/interview/" data-event-label="footer"
            data-event-action="Remote First Interviewing">Remote First Interviewing</a>
          <li><a
            href="https://www.hackerrank.com/products/developer-skills-platform/rank/" data-event-label="footer"
            data-event-action="Remote First Ranking">Remote First Ranking</a>
          <li><a
            href="https://www.hackerrank.com/products/insights" data-event-label="footer"
            data-event-action="Insights">Insights</a>
          <li><a
            href="https://www.hackerrank.com/dashboard" data-event-label="footer"
            data-event-action="HackerRank for Developers">HackerRank for Developers</a>
          <li><a
            href="https://www.hackerrank.com/products/school/" data-event-label="footer"
            data-event-action="HackerRank for School">HackerRank for School</a>
          <li><a
            href="https://www.hackerrank.com/products/pricing/" data-event-label="footer" data-event-action="Pricing">Pricing</a>
          <li><a
            href="https://www.hackerrank.com/science/" data-event-label="footer"
            data-event-action="Assessment Science">Assessment Science</a>
        </ul>
      <li>
        <a href="https://www.hackerrank.com/solutions/remote-hiring/" data-event-label="footer"
           data-event-action="Solutions">Solutions<span class="menu-item__bullets"></span></a>
        <ul class="sub-menu">
          <li><a
            href="/products/developer-skills-platform/" data-event-label="footer"
            data-event-action="Enterprise Technical Hiring">Enterprise Technical Hiring</a>
          <li><a
            href="https://www.hackerrank.com/solutions/remote-hiring/" data-event-label="footer"
            data-event-action="Remote Hiring">Remote Hiring</a>
          <li><a
            href="https://www.hackerrank.com/solutions/university-recruiting/" data-event-label="footer"
            data-event-action="University Recruiting">University Recruiting</a>
          <li><a
            href="https://www.hackerrank.com/solutions/diversity-hiring/" data-event-label="footer"
            data-event-action="Diversity &#038; Inclusion">Diversity &#038; Inclusion</a>
          <li><a
            href="https://www.hackerrank.com/solutions/professional-hiring/" data-event-label="footer"
            data-event-action="Professional Hiring">Professional Hiring</a>
          <li><a
            href="https://www.hackerrank.com/solutions/professional-services/" data-event-label="footer"
            data-event-action="Professional Services">Professional Services</a>
        </ul>
      <li>
        <a href="https://www.hackerrank.com/resources/" data-event-label="footer" data-event-action="Resources">Resources<span
          class="menu-item__bullets"></span></a>
        <ul class="sub-menu">
          <li><a
            href="/customers/" data-event-label="footer" data-event-action="Customer Stories">Customer Stories</a>
          <li><a
            href="/resources/#webinars" data-event-label="footer" data-event-action="Events">Events</a>
          <li><a
            href="/resources/#datasheets" data-event-label="footer" data-event-action="Datasheets">Datasheets</a>
          <li><a
            href="/resources/#guides" data-event-label="footer" data-event-action="Guides">Guides</a>
          <li><a
            href="https://www.hackerrank.com/partners/" data-event-label="footer"
            data-event-action="Partners">Partners</a>
          <li><a
            href="https://support.hackerrank.com/hc/en-us" data-event-label="footer"
            data-event-action="Product Support">Product Support</a>
          <li><a
            href="/resources/#webinars" data-event-label="footer" data-event-action="Webinars">Webinars</a>
          <li><a
            href="/resources/#research" data-event-label="footer" data-event-action="Research">Research</a>
        </ul>
    </ul>
  </div>
</footer>
