<main class="container-fluid">
  <div class="container d-flex justify-content-between mt-2">
    <button id="addContract" class="btn btn-primary save" data-bs-toggle="modal" data-bs-target="#addContractModal">
      ADD CONTRACT <i
      class="fas fa-plus-square"></i>
    </button>
  </div>
  <p class="text-center fs-3 ">List Contract</p>
  <table class="table table-striped table-bordered">
    <thead>
    <tr>
      <th>No.</th>
      <th>Facility</th>
      <th>Customer</th>
      <th>Start Date</th>
      <th>End Date</th>
      <th>Deposit</th>
      <th>Total</th>
      <th>Attach Facility</th>
    </tr>
    </thead>
    <tbody class="table-group-divider">
    <tr>
      <th scope="row">1</th>
      <td>Room</td>
      <td>Nguyễn Hà Lam</td>
      <td>2020-12-12</td>
      <td>2021-01-01</td>
      <td>10000000</td>
      <td>30000000</td>
      <td><button type="button" class="btn btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#exampleModal2" data-bs-whatever="@mdo">+</button></td>
      <td><button type="button" class="btn btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#exampleModal">
        List attach service
      </button></td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Villa</td>
      <td>Nguyễn Văn Nhàn</td>
      <td>2020-05-12</td>
      <td>2021-06-10</td>
      <td>1200000</td>
      <td>10000000</td>
      <td><button type="button" class="btn btn-outline-secondary">+</button></td>
      <td><button type="button" class="btn btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#exampleModal">
        List attach service
      </button></td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>House</td>
      <td>Hồ Thị Lên</td>
      <td>2022-10-10</td>
      <td>2022-12-12</td>
      <td>5000000</td>
      <td>30000000</td>
      <td><button type="button" class="btn btn-outline-secondary">+</button></td>
      <td><button type="button" class="btn btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#exampleModal">
        List attach service
      </button></td>
    </tr>
    </tbody>
  </table>
</main>
