<table>
  <thead>
  <tr>
    <th>No.</th>
    <th>Name</th>
    <th>Price</th>
    <th>Description</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let p of products; index as i">
    <td>{{i + 1}}</td>
    <td>{{p.name}}</td>
    <td>{{p.price}}</td>
    <td>{{p.description}}</td>
    <td><a routerLink="/product/detail/{{p.id}}">Detail</a></td>
    <td><a routerLink="/product/update/{{p.id}}">Edit</a></td>
    <td><a routerLink="/product/delete/{{p.id}}">Delete</a></td>
  </tr>
  </tbody>
</table>
