<main>
  <p class="text-center fs-3 fw-bold">Add Contract</p>
  <div class="col-md-4 offset-md-4">
    <div class="card">
      <div class="card-body">
        <form method="post" >
          <div class="row">
            <input id="idEdit" class="form-control" hidden>
            <div class="mb-3">
              <label class="form-label">Start Date</label>
              <input type="date" class="form-control">
            </div>
            <div class="mb-3">
              <label class="form-label">End Date</label>
              <input type="date" class="form-control" >
            </div>
            <div class="mb-3">
              <label class="form-label">Deposit</label>
              <input type="number" class="form-control" >
            </div>
            <div class="mb-3">
              <label class="form-label">Total</label>
              <input type="text" class="form-control" disabled >
            </div>
            <div class="mb-3">
              <label class="form-label">Customer</label>
              <select class="form-select" >
                <option value="">Search Customer</option>
                <option ></option>
              </select>
            </div>
            <div class="mb-3">
              <label class="form-label">Customer</label>
              <select class="form-select" >
                <option value="">Search Employee</option>
                <option ></option>
              </select>
            </div>
            <div class="mb-3">
              <label class="form-label">Facility</label>
              <select class="form-select">
                <option value="">Search facility</option>
                <option ></option>
              </select>
            </div>
          </div>
          <button type="button" class="btn btn-primary btn-md" id="cancel">Cancel</button>
          <button type="submit" class="btn btn-primary btn-md save">Save</button>
        </form>
      </div>
    </div>
  </div>
</main>
