<body>
<!--[if lte IE 9]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade
  your browser</a> to improve your experience and security.</p>
<![endif]-->

<!-- Add your site or application content here -->

<!-- pre loader area start -->
<!--<div id="loading">-->
<!--  <div id="loading-center">-->
<!--    <div id="loading-center-absolute">-->
<!--      <div class="loading-content">-->
<!--        <img class="loading-logo-text" src="assets/img/logo/logo-text-2.png" alt="">-->
<!--        <div class="loading-stroke">-->
<!--          <img class="loading-logo-icon" src="assets/img/logo/logo-icon.png" alt="">-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
<!-- pre loader area end -->

<!-- back to top start -->
<div class="progress-wrap ">
  <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
    <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98"/>
  </svg>
</div>
<!-- back to top end -->


<!-- cart mini area start -->
<div class="cartmini__area">
  <div class="cartmini__wrapper">
    <div class="cartmini__title">
      <h4>Shopping cart</h4>
    </div>
    <div class="cartmini__close">
      <button type="button" class="cartmini__close-btn"><i class="fal fa-times"></i></button>
    </div>
    <div class="cartmini__widget">
      <div class="cartmini__inner">
        <ul>
          <li>
            <div class="cartmini__thumb">
              <a href="#">
                <img src="assets/img/course/sm/cart-1.jpg" alt="">
              </a>
            </div>
            <div class="cartmini__content">
              <h5><a href="#">Strategy law and organization Foundation </a></h5>
              <div class="product-quantity mt-10 mb-10">
                <span class="cart-minus">-</span>
                <input class="cart-input" type="text" value="1"/>
                <span class="cart-plus">+</span>
              </div>
              <div class="product__sm-price-wrapper">
                <span class="product__sm-price">$46.00</span>
              </div>
            </div>
            <a href="#" class="cartmini__del"><i class="fal fa-times"></i></a>
          </li>
          <li>
            <div class="cartmini__thumb">
              <a href="#">
                <img src="assets/img/course/sm/cart-2.jpg" alt="">
              </a>
            </div>
            <div class="cartmini__content">
              <h5><a href="#">Fundamentals of music theory Learn new</a></h5>
              <div class="product-quantity mt-10 mb-10">
                <span class="cart-minus">-</span>
                <input class="cart-input" type="text" value="1"/>
                <span class="cart-plus">+</span>
              </div>
              <div class="product__sm-price-wrapper">
                <span class="product__sm-price">$32.00</span>
              </div>
            </div>
            <a href="#" class="cartmini__del"><i class="fal fa-times"></i></a>
          </li>
          <li>
            <div class="cartmini__thumb">
              <a href="#">
                <img src="assets/img/course/sm/cart-3.jpg" alt="">
              </a>
            </div>
            <div class="cartmini__content">
              <h5><a href="#">Strategy law and organization Foundation </a></h5>
              <div class="product-quantity mt-10 mb-10">
                <span class="cart-minus">-</span>
                <input class="cart-input" type="text" value="1"/>
                <span class="cart-plus">+</span>
              </div>
              <div class="product__sm-price-wrapper">
                <span class="product__sm-price">$62.00</span>
              </div>
            </div>
            <a href="#" class="cartmini__del"><i class="fal fa-times"></i></a>
          </li>
        </ul>
      </div>
      <div class="cartmini__checkout">
        <div class="cartmini__checkout-title mb-30">
          <h4>Subtotal:</h4>
          <span>$113.00</span>
        </div>
        <div class="cartmini__checkout-btn">
          <a href="cart.html" class="e-btn e-btn-border mb-10 w-100"> <span></span> view cart</a>
          <a href="checkout.html" class="e-btn w-100"> <span></span> checkout</a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="body-overlay"></div>
<!-- cart mini area end -->


<!-- sidebar area start -->
<div class="sidebar__area">
  <div class="sidebar__wrapper">
    <div class="sidebar__close">
      <button class="sidebar__close-btn" id="sidebar__close-btn">
        <span><i class="fal fa-times"></i></span>
        <span>close</span>
      </button>
    </div>
    <div class="sidebar__content">
      <div class="logo mb-40">
        <a href="index.html">
          <img src="assets/img/logo/logo.png" alt="logo">
        </a>
      </div>
      <div class="mobile-menu fix"></div>

      <div class="sidebar__search p-relative mt-40 ">
<!--        <form action="#">-->
          <input type="text" placeholder="Search...">
          <button type="submit"><i class="fad fa-search"></i></button>
<!--        </form>-->
      </div>
      <div class="sidebar__cart mt-30">
        <a href="#">
          <div class="header__cart-icon">
            <svg viewBox="0 0 24 24">
              <circle class="st0" cx="9" cy="21" r="1"/>
              <circle class="st0" cx="20" cy="21" r="1"/>
              <path class="st0" d="M1,1h4l2.7,13.4c0.2,1,1,1.6,2,1.6h9.7c1,0,1.8-0.7,2-1.6L23,6H6"/>
            </svg>
          </div>
          <span class="cart-item">2</span>
        </a>
      </div>
    </div>
  </div>
</div>
<!-- sidebar area end -->
<div class="body-overlay"></div>
<!-- sidebar area end -->

<main>

  <!-- hero area start -->
  <section class="hero__area hero__height d-flex align-items-center grey-bg-2 p-relative">
    <div class="hero__shape">
      <img class="hero-1-circle" src="assets/img/shape/hero/hero-1-circle.png" alt="">
      <img class="hero-1-circle-2" src="assets/img/shape/hero/hero-1-circle-2.png" alt="">
      <img class="hero-1-dot-2" src="assets/img/shape/hero/hero-1-dot-2.png" alt="">
    </div>
    <div class="container">
      <div class="hero__content-wrapper mt-90">
        <div class="row align-items-center">
          <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6">
            <div class="hero__content p-relative z-index-1">
              <h3 class="hero__title">
                <span>Access 2700+</span>
                <span class="yellow-shape">Online <img src="assets/img/shape/yellow-bg.png" alt="yellow-shape"> </span>
                Tutorial From Top Instructor.</h3>
              <p>Meet university,and cultural institutions, who'll share their experience.</p>
              <a routerLink="course" class="e-btn">Khóa học</a>
            </div>
          </div>
          <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6">
            <div class="hero__thumb d-flex p-relative">
              <div class="hero__thumb-shape">
                <img class="hero-1-dot" src="assets/img/shape/hero/hero-1-dot.png" alt="">
                <img class="hero-1-circle-3" src="assets/img/shape/hero/hero-1-circle-3.png" alt="">
                <img class="hero-1-circle-4" src="assets/img/shape/hero/hero-1-circle-4.png" alt="">
              </div>
              <div class="hero__thumb-big mr-30">
                <img src="assets/img/hero/hero-1.jpg" alt="">
                <div class="hero__quote hero__quote-animation">
                  <span>Tomorrow is our</span>
                  <h4>“When I Grow Up” Spirit Day!</h4>
                </div>
              </div>
              <div class="hero__thumb-sm mt-50 d-none d-lg-block">
                <img src="assets/img/hero/hero-sm-1.jpg" alt="">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- hero area end -->

  <!-- category area start -->
  <section class="category__area pt-120 pb-70">
    <div class="container">
      <div class="row align-items-end">
        <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-8">
          <div class="section__title-wrapper mb-45">
            <h2 class="section__title">Pro <br>Các <span class="yellow-bg">Khóa học <img
              src="assets/img/shape/yellow-bg-2.png" alt="">  </span>Pro
            </h2>
          </div>
        </div>
        <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-4">
          <div class="category__more mb-50 float-md-end fix">
            <a routerLink="/course" class="link-btn">
              Xem tất cả
              <i class="fas fa-arrow-right"></i>
              <i class="fas fa-arrow-right"></i>
            </a>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-6">
          <div class="category__item mb-30 transition-3 d-flex align-items-center">
            <div class="category__icon mr-30">
              <svg version="1.0" xmlns="http://www.w3.org/2000/svg"
                   width="320.000000pt" height="320.000000pt" viewBox="0 0 320.000000 320.000000"
                   preserveAspectRatio="xMidYMid meet">

                <g transform="translate(0.000000,320.000000) scale(0.100000,-0.100000)"
                   stroke="none">
                  <path class="st1" d="M1485 3128 c-96 -35 -280 -101 -835 -298 -74 -27 -193 -70 -265 -95
-71 -26 -156 -56 -187 -67 l-58 -20 5 -36 c9 -64 62 -518 181 -1567 20 -176
39 -323 43 -327 5 -6 354 -201 756 -423 83 -45 223 -123 313 -174 l162 -90
612 339 c337 187 615 343 619 347 4 5 17 94 28 198 12 105 40 343 61 530 22
187 60 518 85 735 25 217 48 411 51 431 l5 37 -58 20 c-32 11 -267 95 -523
187 -399 143 -829 296 -872 310 -7 2 -62 -14 -123 -37z m190 -470 c37 -84 76
-171 86 -193 10 -22 72 -161 137 -310 246 -555 515 -1161 535 -1205 75 -166
76 -171 64 -176 -7 -2 -84 -3 -172 -2 l-158 3 -91 228 -90 227 -387 0 -387 0
-47 -117 c-25 -65 -67 -169 -92 -231 l-46 -112 -163 0 c-89 0 -165 4 -168 8
-3 4 55 143 128 308 242 542 744 1668 757 1697 7 15 15 27 19 27 4 0 37 -69
75 -152z"/>
                  <path class="st2" d="M1471 1843 c-68 -164 -126 -304 -128 -310 -4 -10 51 -13 256 -13 144
0 261 2 261 4 0 2 -46 116 -103 252 -57 137 -114 275 -126 307 -13 31 -26 57
-30 57 -4 0 -62 -134 -130 -297z"/>
                </g>
              </svg>
            </div>
            <div class="category__content">
              <h4 class="category__title"><a href="course-details.html">Angular Js</a></h4>
              <p>Xây dựng Website với Angular</p>
            </div>
          </div>
        </div>
        <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-6">
          <div class="category__item mb-30 transition-3 d-flex align-items-center">
            <div class="category__icon mr-30">
              <svg version="1.0" xmlns="http://www.w3.org/2000/svg"
                   width="474.000000pt" height="448.000000pt" viewBox="0 0 474.000000 448.000000"
                   preserveAspectRatio="xMidYMid meet">

                <g transform="translate(0.000000,448.000000) scale(0.100000,-0.100000)"
                   stroke="none">
                  <path class="st2" d="M3180 4152 c-124 -9 -281 -63 -422 -143 -92 -53 -306 -209 -347 -253
-14 -14 -28 -26 -33 -26 -5 0 -48 32 -96 71 -535 435 -1001 464 -1183 74 -98
-210 -109 -491 -34 -870 l6 -30 -112 -39 c-364 -126 -642 -339 -722 -555 -33
-87 -30 -234 6 -321 91 -218 385 -441 745 -566 73 -25 82 -31 78 -49 -4 -11
-16 -76 -27 -145 -30 -176 -31 -407 -1 -545 40 -185 142 -344 260 -404 150
-77 355 -65 585 34 132 57 354 203 458 302 l36 35 106 -89 c193 -160 396 -272
576 -315 67 -16 108 -19 188 -16 93 4 109 8 177 41 133 66 226 196 276 387 31
119 39 408 15 560 -9 58 -19 123 -22 146 l-5 40 113 43 c331 125 585 314 678
503 97 197 63 379 -105 557 -147 157 -320 256 -666 383 -33 12 -33 19 -13 124
85 445 -3 845 -219 994 -75 51 -194 80 -296 72z m-1542 -98 c199 -40 436 -175
663 -376 36 -32 69 -58 73 -58 4 0 44 33 90 74 188 167 376 283 561 347 58 20
90 24 185 24 107 0 119 -2 175 -29 78 -39 134 -98 178 -188 58 -119 69 -179
74 -398 4 -179 2 -207 -22 -345 -15 -82 -28 -158 -29 -168 -1 -15 22 -27 119
-61 239 -84 384 -160 527 -274 138 -110 208 -223 216 -349 6 -95 -10 -153 -63
-233 -118 -178 -339 -325 -660 -441 -66 -23 -123 -45 -128 -49 -4 -3 2 -49 12
-101 48 -227 53 -524 12 -681 -87 -333 -318 -445 -655 -316 -160 62 -358 191
-519 338 l-68 63 -47 -44 c-25 -24 -49 -47 -52 -50 -14 -15 -182 -139 -239
-177 -74 -48 -201 -111 -276 -137 -389 -133 -623 33 -665 474 -14 147 -1 281
56 596 6 29 4 31 -43 43 -157 42 -410 164 -541 261 -256 190 -338 394 -238
596 105 213 375 383 823 520 8 3 6 27 -8 87 -56 246 -64 560 -19 723 51 186
143 291 290 331 62 17 127 17 218 -2z"/>
                  <path class="st1" d="M1445 3890 c-161 -51 -220 -395 -139 -805 25 -123 26 -125 71 -114
83 19 470 79 515 79 4 0 21 21 39 46 41 60 186 241 263 328 l60 68 -49 45
c-161 144 -375 280 -515 328 -82 28 -198 40 -245 25z m229 -107 c120 -43 255
-125 397 -240 l68 -54 -81 -97 c-45 -53 -110 -135 -144 -182 l-64 -86 -112
-12 c-62 -7 -164 -22 -226 -33 -63 -11 -116 -19 -118 -17 -10 11 -35 209 -41
318 -7 156 8 264 47 348 22 48 37 66 62 77 43 19 119 11 212 -22z"/>
                  <path class="st1" d="M3072 3875 c-146 -50 -287 -135 -452 -273 -131 -109 -128 -104 -93
-145 139 -166 179 -215 243 -302 40 -55 75 -102 76 -104 2 -2 23 -5 46 -8 114
-11 285 -36 393 -58 66 -14 122 -21 126 -17 9 9 35 145 50 256 6 53 9 153 7
245 -4 133 -9 168 -31 236 -30 91 -80 159 -134 181 -51 22 -148 17 -231 -11z
m226 -79 c31 -27 70 -125 83 -206 19 -125 -4 -496 -33 -525 -3 -3 -74 6 -159
20 -85 14 -185 28 -222 32 l-69 6 -72 96 c-40 53 -105 134 -145 181 l-71 85
52 48 c117 107 355 247 473 278 50 13 142 5 163 -15z"/>
                  <path class="st1" d="M2318 3306 c-78 -89 -188 -225 -188 -233 0 -7 253 -7 427 0 l62 2
-85 105 c-86 105 -153 180 -164 180 -3 0 -26 -24 -52 -54z m114 -128 l19 -28
-76 0 c-84 0 -86 4 -30 63 26 28 28 28 47 10 11 -10 29 -30 40 -45z"/>
                  <path class="st1" d="M2083 2892 c-51 -4 -96 -11 -102 -17 -24 -26 -226 -366 -296 -499
l-79 -149 54 -106 c64 -125 181 -328 268 -463 l63 -96 176 -7 c163 -7 562 1
587 11 21 9 218 342 341 576 47 91 48 84 -48 259 -142 258 -278 473 -303 483
-23 9 -556 15 -661 8z m619 -88 c21 -8 153 -222 268 -433 70 -129 72 -136 61
-168 -19 -51 -160 -305 -244 -439 l-75 -119 -159 -8 c-87 -5 -239 -6 -338 -2
l-180 7 -29 47 c-79 124 -199 327 -250 425 l-58 109 53 101 c64 124 173 312
236 409 l48 72 95 6 c103 7 551 2 572 -7z"/>
                  <path class="st1" d="M2253 2661 c-162 -46 -275 -164 -318 -328 -19 -73 -19 -134 0 -208
24 -91 54 -143 120 -210 141 -142 349 -175 527 -84 54 28 143 113 175 167 80
136 82 313 6 455 -35 62 -127 148 -195 180 -105 49 -209 58 -315 28z m182 -72
c120 -22 218 -97 272 -207 24 -50 27 -69 28 -152 0 -90 -2 -100 -34 -163 -67
-133 -178 -200 -331 -201 -73 0 -94 4 -147 28 -69 31 -147 106 -181 172 -66
130 -44 294 55 404 54 60 108 94 183 114 68 18 82 19 155 5z"/>
                  <path class="st1" d="M1605 2839 c-55 -10 -126 -23 -158 -30 l-59 -12 7 -35 c12 -62 112
-322 124 -322 3 0 39 60 79 133 40 73 92 164 117 202 24 39 44 73 44 78 1 10
-34 7 -154 -14z m-37 -152 c-18 -31 -35 -56 -39 -57 -6 0 -43 100 -38 104 8 7
104 21 107 16 1 -4 -12 -32 -30 -63z"/>
                  <path class="st1" d="M2980 2855 c0 -2 15 -28 34 -57 40 -63 118 -196 170 -290 20 -38 40
-68 45 -68 11 0 131 315 131 344 0 14 -47 26 -223 56 -121 20 -157 24 -157 15z
m237 -112 c24 -3 43 -7 43 -9 0 -2 -9 -29 -21 -60 l-21 -56 -39 64 c-43 71
-47 83 -22 74 9 -4 36 -10 60 -13z"/>
                  <path class="st1" d="M1090 2716 c-263 -93 -476 -218 -560 -330 -78 -103 -87 -159 -39
-254 71 -143 290 -293 588 -402 63 -22 119 -39 125 -37 6 3 22 38 35 78 25 79
126 338 161 412 21 44 21 47 4 79 -31 59 -119 280 -154 386 -24 70 -40 102
-50 102 -8 -1 -58 -16 -110 -34z m92 -126 c40 -110 111 -286 129 -322 l19 -37
-59 -143 c-32 -79 -71 -178 -86 -220 -15 -43 -30 -78 -34 -78 -4 0 -47 16 -96
36 -268 108 -451 240 -502 361 -12 31 -13 44 -3 77 15 50 94 134 181 192 107
71 392 200 423 191 5 -2 17 -27 28 -57z"/>
                  <path class="st1" d="M3510 2683 c-30 -89 -82 -224 -137 -351 l-45 -103 61 -137 c33 -75
76 -182 96 -237 51 -144 56 -155 69 -155 21 0 249 89 326 127 180 90 331 216
379 316 18 37 22 60 19 101 -11 134 -191 290 -478 413 -76 33 -248 93 -265 93
-2 0 -13 -30 -25 -67z m209 -80 c229 -93 387 -198 453 -302 34 -54 35 -78 7
-133 -55 -108 -247 -240 -479 -330 -113 -45 -104 -46 -129 24 -13 35 -52 131
-87 215 l-65 152 31 73 c46 106 118 293 126 322 7 31 17 29 143 -21z"/>
                  <path class="st1" d="M3170 1917 c-30 -56 -83 -148 -117 -205 -65 -107 -72 -122 -50 -122
63 1 367 60 367 71 0 5 -24 73 -54 151 -74 195 -80 208 -86 208 -3 0 -30 -46
-60 -103z m73 -136 c9 -27 17 -53 17 -58 0 -10 -110 -37 -118 -29 -4 5 70 136
78 136 3 0 13 -22 23 -49z"/>
                  <path class="st1" d="M1477 1918 c-68 -175 -97 -262 -89 -270 17 -17 372 -69 372 -54 0 2
-40 71 -88 154 -49 83 -102 175 -118 206 -16 31 -32 56 -35 56 -3 0 -22 -42
-42 -92z m71 -120 c6 -13 23 -43 38 -67 l27 -44 -59 8 c-33 4 -61 9 -63 11 -7
6 31 114 39 114 4 0 12 -10 18 -22z"/>
                  <path class="st1" d="M3295 1465 c-60 -13 -171 -30 -245 -40 -74 -9 -149 -18 -166 -21 -27
-4 -46 -24 -126 -132 -86 -115 -175 -226 -236 -292 l-23 -25 53 -48 c179 -163
329 -261 493 -323 82 -30 195 -42 248 -25 70 23 128 106 164 232 25 90 25 394
0 529 -22 119 -36 170 -45 169 -4 -1 -56 -12 -117 -24z m70 -97 c47 -215 44
-479 -6 -612 -29 -80 -65 -117 -120 -123 -82 -9 -221 38 -362 124 -73 44 -257
189 -257 203 0 5 19 31 43 57 23 27 82 102 131 168 49 66 93 124 97 129 4 5
72 17 151 27 79 10 175 25 213 33 99 19 104 19 110 -6z"/>
                  <path class="st1" d="M1317 1413 c-37 -160 -42 -213 -42 -398 1 -156 4 -201 19 -250 59
-192 151 -245 346 -199 79 18 240 94 335 157 85 56 264 203 272 223 3 8 -15
37 -43 70 -84 95 -214 256 -261 322 -25 34 -50 62 -56 62 -70 1 -445 54 -534
76 -19 5 -22 -1 -36 -63z m283 -61 c74 -11 162 -23 196 -27 l61 -7 64 -86 c35
-48 100 -129 144 -181 l79 -94 -39 -34 c-189 -162 -446 -293 -575 -293 -53 0
-96 25 -123 72 -64 110 -75 380 -26 627 l11 53 36 -5 c21 -3 98 -14 172 -25z"/>
                  <path class="st1" d="M2152 1348 c22 -33 161 -200 205 -247 l22 -24 27 32 c15 18 33 38 39
45 27 28 175 213 175 219 0 4 -111 7 -246 7 l-245 0 23 -32z m298 -54 c0 -4
-16 -27 -37 -52 l-36 -44 -19 23 c-10 13 -28 36 -39 52 l-20 27 75 0 c42 0 76
-3 76 -6z"/>
                </g>
              </svg>
            </div>
            <div class="category__content">
              <h4 class="category__title"><a href="course-details.html">React Js</a></h4>
              <p>Xây dựng Website với ReactJs</p>
            </div>
          </div>
        </div>
        <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-6">
          <div class="category__item mb-30 transition-3 d-flex align-items-center">
            <div class="category__icon mr-30">
              <svg version="1.0" xmlns="http://www.w3.org/2000/svg"
                   width="141.000000pt" height="141.000000pt" viewBox="0 0 141.000000 141.000000"
                   preserveAspectRatio="xMidYMid meet">

                <g transform="translate(0.000000,141.000000) scale(0.100000,-0.100000)"
                   fill="#000000" stroke="none">
                  <path class="st1" d="M160 1175 c0 -2 9 -19 20 -37 15 -26 20 -29 25 -15 8 19 -2 40 -15
32 -5 -3 -11 -2 -14 3 -9 16 29 9 42 -7 12 -14 13 -14 7 4 -5 15 -3 17 6 8 8
-8 7 -18 -7 -41 -17 -30 -17 -31 9 -71 15 -22 27 -44 27 -49 0 -4 7 -17 16
-28 15 -19 15 -19 5 2 -6 12 -6 26 0 35 6 10 9 11 9 1 0 -8 5 -10 13 -6 9 6 9
5 1 -7 -14 -17 -11 -57 6 -89 10 -18 14 -20 22 -9 8 11 9 10 4 -3 -6 -20 60
-141 73 -134 4 3 7 -4 7 -14 -1 -21 16 -28 23 -9 2 7 -1 9 -8 5 -7 -5 -9 -1
-4 9 9 25 24 -4 16 -32 -3 -14 -1 -23 6 -23 6 0 11 -5 11 -11 0 -5 -4 -7 -10
-4 -6 3 -7 -1 -4 -9 3 -9 10 -14 14 -11 4 3 11 -7 15 -22 3 -14 13 -36 22 -47
9 -12 13 -15 10 -5 -3 9 1 16 8 16 9 0 11 -7 6 -21 -6 -14 -2 -31 10 -51 10
-16 26 -45 36 -63 12 -23 19 -29 26 -20 6 9 7 6 4 -10 -3 -14 -1 -20 6 -15 6
4 8 0 5 -8 -3 -8 1 -26 9 -40 11 -18 13 -19 9 -4 -5 17 -2 16 16 -6 13 -14 29
-35 36 -45 11 -17 12 -16 7 11 -4 16 -3 26 1 22 7 -7 14 -87 7 -87 -1 0 -12
21 -25 46 -12 25 -24 41 -26 35 -6 -17 49 -102 61 -94 7 4 8 0 4 -11 -4 -10
-3 -15 3 -11 13 8 13 42 0 50 -7 4 -6 13 1 26 6 12 13 18 16 15 3 -3 1 -12 -6
-19 -9 -11 -8 -17 4 -27 13 -11 14 -10 9 4 -4 9 -1 16 6 16 7 0 10 7 6 16 -3
8 -2 13 3 9 14 -8 53 53 55 85 1 16 5 32 9 37 5 4 5 -1 2 -12 -7 -20 -6 -20 9
-1 9 11 14 29 12 40 -2 12 -1 15 1 8 3 -7 8 -10 13 -7 5 3 6 13 3 22 -5 12 -3
14 7 8 10 -6 12 -4 7 8 -4 10 -2 16 6 14 7 -1 11 9 10 28 0 17 1 24 4 17 6
-14 73 72 73 92 0 6 -12 -7 -25 -29 -14 -23 -25 -33 -25 -23 0 9 5 20 11 23 5
4 14 18 20 32 5 13 13 22 18 18 5 -3 13 5 17 17 3 12 14 29 23 39 9 10 30 44
46 75 17 32 36 64 43 72 6 7 12 19 12 25 0 7 -5 6 -11 -3 -9 -13 -10 -13 -6 0
2 8 10 15 17 15 7 0 19 16 26 35 7 19 13 31 13 25 1 -5 5 -3 11 5 6 9 5 20 -3
29 -9 12 -9 13 0 8 17 -11 74 82 67 108 -4 15 -3 16 4 6 7 -10 11 -10 17 -1 4
7 1 17 -6 22 -11 8 -10 9 3 4 10 -3 20 -1 23 4 4 6 -74 10 -208 10 l-213 0
-24 -42 c-13 -24 -41 -73 -63 -111 l-39 -67 -63 107 -62 108 -212 3 c-116 1
-211 0 -211 -3z m230 -48 c0 -16 -18 3 -23 25 -6 22 -5 22 8 4 8 -11 15 -24
15 -29z m641 16 c-12 -20 -14 -14 -5 12 4 9 9 14 11 11 3 -2 0 -13 -6 -23z
m-682 -28 c0 -5 -4 -3 -9 5 -5 8 -9 22 -9 30 0 16 17 -16 18 -35z m682 -4 c5
8 9 9 9 3 0 -18 -27 -37 -35 -24 -3 5 -3 15 1 22 6 9 9 9 12 -1 4 -11 6 -11
13 0z m-598 -61 c-3 -3 -8 1 -10 8 -3 6 -9 10 -14 7 -5 -4 -6 1 -3 10 6 14 8
14 19 -2 8 -10 11 -20 8 -23z m749 21 c-4 -10 -7 -11 -10 -3 -7 22 -23 12 -18
-10 3 -13 3 -17 0 -10 -8 17 -22 15 -27 -5 -4 -16 -5 -16 -6 -1 0 9 6 23 14
32 20 19 55 17 47 -3z m-922 5 c0 -2 -7 -6 -15 -10 -8 -3 -15 -1 -15 4 0 6 7
10 15 10 8 0 15 -2 15 -4z m740 -16 c0 -5 -5 -10 -11 -10 -5 0 -7 5 -4 10 3 6
8 10 11 10 2 0 4 -4 4 -10z m-723 -16 c-3 -3 -12 -4 -19 -1 -8 3 -5 6 6 6 11
1 17 -2 13 -5z m134 -31 c-12 -20 -14 -14 -5 12 4 9 9 14 11 11 3 -2 0 -13 -6
-23z m49 -3 c0 -5 -5 -10 -11 -10 -5 0 -7 5 -4 10 3 6 8 10 11 10 2 0 4 -4 4
-10z m496 -30 c0 -22 0 -39 -1 -37 -1 1 -8 13 -15 26 -10 19 -10 22 1 16 9 -6
11 -4 6 7 -4 13 0 28 8 28 0 0 1 -18 1 -40z m-639 -12 c-3 -8 -6 -5 -6 6 -1
11 2 17 5 13 3 -3 4 -12 1 -19z m168 12 c3 -5 2 -10 -4 -10 -5 0 -13 5 -16 10
-3 6 -2 10 4 10 5 0 13 -4 16 -10z m440 -30 c-2 -23 -25 -52 -25 -31 0 12 18
51 24 51 1 0 2 -9 1 -20z m-465 0 c0 -5 -2 -10 -4 -10 -3 0 -8 5 -11 10 -3 6
-1 10 4 10 6 0 11 -4 11 -10z m44 -6 c3 -8 2 -12 -4 -9 -6 3 -10 10 -10 16 0
14 7 11 14 -7z m-183 -11 c13 -16 12 -17 -3 -4 -17 13 -22 21 -14 21 2 0 10
-8 17 -17z m75 -21 c1 -7 0 -8 -3 -2 -11 22 -20 8 -20 -30 0 -22 3 -37 8 -35
13 9 21 -14 10 -32 -6 -10 -11 -15 -11 -12 0 4 -7 23 -16 44 -8 20 -10 34 -5
30 15 -9 14 7 -3 31 -13 18 -12 20 12 19 14 0 26 -6 28 -13z m125 -29 c-12
-20 -14 -14 -5 12 4 9 9 14 11 11 3 -2 0 -13 -6 -23z m429 12 c0 -8 -4 -15
-10 -15 -5 0 -10 7 -10 15 0 8 5 15 10 15 6 0 10 -7 10 -15z m-410 -35 c0 -5
-5 -10 -11 -10 -5 0 -7 5 -4 10 3 6 8 10 11 10 2 0 4 -4 4 -10z m395 0 c3 -5
1 -10 -4 -10 -6 0 -11 5 -11 10 0 6 2 10 4 10 3 0 8 -4 11 -10z m-65 -25 c0
-8 -2 -15 -4 -15 -2 0 -6 7 -10 15 -3 8 -1 15 4 15 6 0 10 -7 10 -15z m-299
-32 c-12 -20 -14 -14 -5 12 4 9 9 14 11 11 3 -2 0 -13 -6 -23z m289 -8 c0 -5
-5 -3 -10 5 -5 8 -10 20 -10 25 0 6 5 3 10 -5 5 -8 10 -19 10 -25z m122 5 c-2
-16 -6 -30 -8 -30 -2 0 -4 14 -4 30 0 17 4 30 8 30 5 0 7 -13 4 -30z m41 8
c-6 -7 -13 -22 -16 -33 -4 -16 -5 -15 -6 6 0 14 4 30 11 37 15 15 24 7 11 -10z
m-442 -31 c-10 -9 -11 -8 -5 6 3 10 9 15 12 12 3 -3 0 -11 -7 -18z m262 10 c3
-7 -3 -13 -13 -13 -10 0 -16 6 -13 13 3 7 9 13 13 13 4 0 10 -6 13 -13z m-206
-77 c17 -19 19 -29 12 -40 -9 -13 -10 -12 -5 3 3 9 2 17 -2 17 -4 0 -16 15
-26 33 -19 32 -18 32 21 -13z m159 5 c0 -25 -3 -31 -9 -20 -7 13 -2 55 7 55 1
0 2 -16 2 -35z m-212 10 c3 -8 1 -15 -4 -15 -6 0 -10 7 -10 15 0 8 2 15 4 15
2 0 6 -7 10 -15z m346 -45 c0 -3 -8 -14 -17 -25 -15 -19 -15 -19 -9 -1 4 12 1
23 -6 27 -8 5 -5 8 10 6 12 0 22 -4 22 -7z m-164 -47 c-3 -4 -6 -1 -6 7 0 10
-3 10 -17 -1 -15 -13 -15 -12 -2 8 11 19 15 20 22 7 5 -9 6 -18 3 -21z m133
-33 c0 -10 -3 -8 -9 5 -12 27 -12 43 0 25 5 -8 9 -22 9 -30z m-357 -32 c-7 -7
-12 -8 -12 -2 0 6 3 14 7 17 3 4 9 5 12 2 2 -3 -1 -11 -7 -17z m78 -59 c0 -6
-4 -7 -10 -4 -5 3 -10 11 -10 16 0 6 5 7 10 4 6 -3 10 -11 10 -16z m-20 -31
c0 -4 -7 -5 -15 -2 -8 4 -15 16 -15 27 0 20 0 20 15 1 8 -10 15 -22 15 -26z
m33 -50 c9 -31 2 -33 -11 -3 -6 14 -8 25 -3 25 5 0 11 -10 14 -22z m90 -73
c-3 -9 -8 -14 -10 -11 -3 3 -2 9 2 15 9 16 15 13 8 -4z m51 0 c-7 -16 -24 -21
-24 -6 0 8 7 13 27 20 1 1 0 -6 -3 -14z"/>
                </g>
              </svg>
            </div>
            <div class="category__content">
              <h4 class="category__title"><a href="course-details.html">Vue Js</a></h4>
              <p>Xây dựng Website với VueJs</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- category area end -->

  <!--  &lt;!&ndash; banner area start &ndash;&gt;-->
  <!--  <section class="banner__area pb-110">-->
  <!--    <div class="container">-->
  <!--      <div class="row">-->
  <!--        <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6">-->
  <!--          <div class="banner__item p-relative mb-40" data-background="assets/img/banner/banner-bg-1.jpg">-->
  <!--            <div class="banner__content">-->
  <!--              <span>Free</span>-->
  <!--              <h3 class="banner__title">-->
  <!--                <a href="course-details.html">Germany Foundation <br> Document</a>-->
  <!--              </h3>-->
  <!--              <a href="course-grid.html" class="e-btn e-btn-2">View Courses</a>-->
  <!--            </div>-->
  <!--            <div class="banner__thumb d-none d-sm-block d-md-none d-lg-block">-->
  <!--              <img src="assets/img/banner/banner-img-1.png" alt="">-->
  <!--            </div>-->
  <!--          </div>-->
  <!--        </div>-->
  <!--        <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6">-->
  <!--          <div class="banner__item p-relative mb-40" data-background="assets/img/banner/banner-bg-2.jpg">-->
  <!--            <div class="banner__content">-->
  <!--              <span class="orange">new</span>-->
  <!--              <h3 class="banner__title">-->
  <!--                <a href="course-details.html">Online Courses <br>From Eduka University</a>-->
  <!--              </h3>-->
  <!--              <a href="course-grid.html" class="e-btn e-btn-2">Find Out More</a>-->
  <!--            </div>-->
  <!--            <div class="banner__thumb banner__thumb-2 d-none d-sm-block d-md-none d-lg-block">-->
  <!--              <img src="assets/img/banner/banner-img-2.png" alt="">-->
  <!--            </div>-->
  <!--          </div>-->
  <!--        </div>-->
  <!--      </div>-->
  <!--    </div>-->
  <!--  </section>-->
  <!--  &lt;!&ndash; banner area end &ndash;&gt;-->

  <!-- course area start -->
  <section class="course__area pt-115 pb-120 grey-bg">
    <div class="container">
      <div class="row align-items-end">
        <div class="col-xxl-5 col-xl-6 col-lg-6">
          <div class="section__title-wrapper mb-60">
            <h2 class="section__title">Pro<br>Các <span class="yellow-bg yellow-bg-big">Khóa Học<img
              src="assets/img/shape/yellow-bg.png" alt=""></span> online</h2>
            <p>Bạn không phải đấu tranh một mình, bạn đã có sự hỗ trợ và giúp đỡ của chúng tôi.</p>
          </div>
        </div>
        <div class="col-xxl-7 col-xl-6 col-lg-6">
          <div class="course__menu d-flex justify-content-lg-end mb-60">
            <div class="masonary-menu filter-button-group">
              <button class="active" data-filter="*">
                Tất cả
                <span class="tag">new</span>
              </button>
              <button data-filter=".cat1">Framework</button>
              <button data-filter=".cat2">Thư viện</button>
            </div>
          </div>
        </div>
      </div>
      <div class="row grid">
        <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 grid-item cat1 cat2 cat4">
          <div class="course__item white-bg mb-30 fix">
            <div class="course__thumb w-img p-relative fix">
              <a href="course-details.html">
                <img src="assets/img/course/course-1.jpg" alt="">
              </a>
              <div class="course__tag">
                <a href="#">Art & Design</a>
              </div>
            </div>
            <div class="course__content">
              <div class="course__meta d-flex align-items-center justify-content-between">
                <div class="course__lesson">
                  <span><i class="far fa-book-alt"></i>43 Lesson</span>
                </div>
                <div class="course__rating">
                  <span><i class="icon_star"></i>4.5 (44)</span>
                </div>
              </div>
              <h3 class="course__title"><a href="course-details.html">Become a product Manager learn the skills &
                job.</a></h3>
              <div class="course__teacher d-flex align-items-center">
                <div class="course__teacher-thumb mr-15">
                  <img src="assets/img/course/teacher/teacher-1.jpg" alt="">
                </div>
                <h6><a href="instructor-details.html">Jim Séchen</a></h6>
              </div>
            </div>
            <div class="course__more d-flex justify-content-between align-items-center">
              <div class="course__status">
                <span>Free</span>
              </div>
              <div class="course__btn">
                <a href="course-details.html" class="link-btn">
                  Know Details
                  <i class="fas fa-arrow-right"></i>
                  <i class="fas fa-arrow-right"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 grid-item cat2 cat3 cat4">
          <div class="course__item white-bg mb-30 fix">
            <div class="course__thumb w-img p-relative fix">
              <a href="course-details.html">
                <img src="assets/img/course/course-2.jpg" alt="">
              </a>
              <div class="course__tag">
                <a href="#" class="sky-blue">Mechanical</a>
              </div>
            </div>
            <div class="course__content">
              <div class="course__meta d-flex align-items-center justify-content-between">
                <div class="course__lesson">
                  <span><i class="far fa-book-alt"></i>72 Lesson</span>
                </div>
                <div class="course__rating">
                  <span><i class="icon_star"></i>4.5 (44)</span>
                </div>
              </div>
              <h3 class="course__title"><a href="course-details.html">Fundamentals of music theory Learn new</a></h3>
              <div class="course__teacher d-flex align-items-center">
                <div class="course__teacher-thumb mr-15">
                  <img src="assets/img/course/teacher/teacher-2.jpg" alt="">
                </div>
                <h6><a href="instructor-details.html">Barry Tone</a></h6>
              </div>
            </div>
            <div class="course__more d-flex justify-content-between align-items-center">
              <div class="course__status d-flex align-items-center">
                <span class="sky-blue">$32.00</span>
                <span class="old-price">$68.00</span>
              </div>
              <div class="course__btn">
                <a href="course-details.html" class="link-btn">
                  Know Details
                  <i class="fas fa-arrow-right"></i>
                  <i class="fas fa-arrow-right"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 grid-item cat3 cat4 cat3">
          <div class="course__item white-bg mb-30 fix">
            <div class="course__thumb w-img p-relative fix">
              <a href="course-details.html">
                <img src="assets/img/course/course-3.jpg" alt="">
              </a>
              <div class="course__tag">
                <a href="#" class="green">Development</a>
              </div>
            </div>
            <div class="course__content">
              <div class="course__meta d-flex align-items-center justify-content-between">
                <div class="course__lesson">
                  <span><i class="far fa-book-alt"></i>14 Lesson</span>
                </div>
                <div class="course__rating">
                  <span><i class="icon_star"></i>3.5 (55)</span>
                </div>
              </div>
              <h3 class="course__title"><a href="course-details.html">Strategy law and organization Foundation</a></h3>
              <div class="course__teacher d-flex align-items-center">
                <div class="course__teacher-thumb mr-15">
                  <img src="assets/img/course/teacher/teacher-3.jpg" alt="">
                </div>
                <h6><a href="instructor-details.html">Elon Gated</a></h6>
              </div>
            </div>
            <div class="course__more d-flex justify-content-between align-items-center">
              <div class="course__status d-flex align-items-center">
                <span class="green">$46.00</span>
                <span class="old-price">$68.00</span>
              </div>
              <div class="course__btn">
                <a href="course-details.html" class="link-btn">
                  Know Details
                  <i class="fas fa-arrow-right"></i>
                  <i class="fas fa-arrow-right"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 grid-item cat4 cat1 cat3">
          <div class="course__item white-bg mb-30 fix">
            <div class="course__thumb w-img p-relative fix">
              <a href="course-details.html">
                <img src="assets/img/course/course-4.jpg" alt="">
              </a>
              <div class="course__tag">
                <a href="#" class="blue">Marketing</a>
              </div>
            </div>
            <div class="course__content">
              <div class="course__meta d-flex align-items-center justify-content-between">
                <div class="course__lesson">
                  <span><i class="far fa-book-alt"></i>22 Lesson</span>
                </div>
                <div class="course__rating">
                  <span><i class="icon_star"></i>4.5 (42)</span>
                </div>
              </div>
              <h3 class="course__title"><a href="course-details.html">The business Intelligence analyst Course 2022</a>
              </h3>
              <div class="course__teacher d-flex align-items-center">
                <div class="course__teacher-thumb mr-15">
                  <img src="assets/img/course/teacher/teacher-4.jpg" alt="">
                </div>
                <h6><a href="instructor-details.html">Eleanor Fant</a></h6>
              </div>
            </div>
            <div class="course__more d-flex justify-content-between align-items-center">
              <div class="course__status d-flex align-items-center">
                <span class="blue">$62.00</span>
                <span class="old-price">$97.00</span>
              </div>
              <div class="course__btn">
                <a href="course-details.html" class="link-btn">
                  Know Details
                  <i class="fas fa-arrow-right"></i>
                  <i class="fas fa-arrow-right"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 grid-item cat1 cat2 cat4">
          <div class="course__item white-bg mb-30 fix">
            <div class="course__thumb w-img p-relative fix">
              <a href="course-details.html">
                <img src="assets/img/course/course-5.jpg" alt="">
              </a>
              <div class="course__tag">
                <a href="#" class="orange">Audio & Music</a>
              </div>
            </div>
            <div class="course__content">
              <div class="course__meta d-flex align-items-center justify-content-between">
                <div class="course__lesson">
                  <span><i class="far fa-book-alt"></i>18 Lesson</span>
                </div>
                <div class="course__rating">
                  <span><i class="icon_star"></i>4.5 (37)</span>
                </div>
              </div>
              <h3 class="course__title"><a href="course-details.html">Build your media and Public presence</a></h3>
              <div class="course__teacher d-flex align-items-center">
                <div class="course__teacher-thumb mr-15">
                  <img src="assets/img/course/teacher/teacher-5.jpg" alt="">
                </div>
                <h6><a href="instructor-details.html">Pelican Steve</a></h6>
              </div>
            </div>
            <div class="course__more d-flex justify-content-between align-items-center">
              <div class="course__status d-flex align-items-center">
                <span class="orange">$62.00</span>
                <span class="old-price">$97.00</span>
              </div>
              <div class="course__btn">
                <a href="course-details.html" class="link-btn">
                  Know Details
                  <i class="fas fa-arrow-right"></i>
                  <i class="fas fa-arrow-right"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 grid-item cat2 cat3">
          <div class="course__item white-bg mb-30 fix">
            <div class="course__thumb w-img p-relative fix">
              <a href="course-details.html">
                <img src="assets/img/course/course-6.jpg" alt="">
              </a>
              <div class="course__tag">
                <a href="#" class="pink">UX Design</a>
              </div>
            </div>
            <div class="course__content">
              <div class="course__meta d-flex align-items-center justify-content-between">
                <div class="course__lesson">
                  <span><i class="far fa-book-alt"></i>13 Lesson</span>
                </div>
                <div class="course__rating">
                  <span><i class="icon_star"></i>4.5 (72)</span>
                </div>
              </div>
              <h3 class="course__title"><a href="course-details.html">Creative writing through Storytelling</a></h3>
              <div class="course__teacher d-flex align-items-center">
                <div class="course__teacher-thumb mr-15">
                  <img src="assets/img/course/teacher/teacher-6.jpg" alt="">
                </div>
                <h6><a href="instructor-details.html">Shahnewaz Sakil</a></h6>
              </div>
            </div>
            <div class="course__more d-flex justify-content-between align-items-center">
              <div class="course__status d-flex align-items-center">
                <span class="pink">$46.00</span>
                <span class="old-price">$72.00</span>
              </div>
              <div class="course__btn">
                <a href="course-details.html" class="link-btn">
                  Know Details
                  <i class="fas fa-arrow-right"></i>
                  <i class="fas fa-arrow-right"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- course area end -->

  <!-- events area start -->
  <section class="events__area pt-115 pb-120 p-relative">
    <div class="events__shape">
      <img class="events-1-shape" src="assets/img/events/events-shape.png" alt="">
    </div>
    <div class="container">
      <div class="row">
        <div class="col-xxl-4 offset-xxl-4">
          <div class="section__title-wrapper mb-60 text-center">
            <h2 class="section__title">Bài viết <span class="yellow-bg yellow-bg-big">Nổi bật<img
              src="assets/img/shape/yellow-bg.png" alt=""></span></h2>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xxl-10 offset-xxl-1 col-xl-10 offset-xl-1 col-lg-10 offset-lg-1">
          <div class="events__item mb-10 hover__active">
            <div class="events__item-inner d-sm-flex align-items-center justify-content-between white-bg">
              <div class="events__content">
                <div class="events__meta">
                  <span>Jun 14, 2022</span>
                  <span>12:00 am - 2:30 pm</span>
                  <span>New York</span>
                </div>
                <h3 class="events__title"><a href="event-details.html">Digital transformation conference</a></h3>
              </div>
              <div class="events__more">
                <a href="event-details.html" class="link-btn">
                  View More
                  <i class="fas fa-arrow-right"></i>
                  <i class="fas fa-arrow-right"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xxl-10 offset-xxl-1 col-xl-10 offset-xl-1 col-lg-10 offset-lg-1">
          <div class="events__item mb-10 hover__active active">
            <div class="events__item-inner d-sm-flex align-items-center justify-content-between white-bg">
              <div class="events__content">
                <div class="events__meta">
                  <span>April 10, 2022</span>
                  <span>9:00 am - 5:00 pm</span>
                  <span>Mindahan</span>
                </div>
                <h3 class="events__title"><a href="event-details.html">World education day conference</a></h3>
              </div>
              <div class="events__more">
                <a href="event-details.html" class="link-btn">
                  View More
                  <i class="fas fa-arrow-right"></i>
                  <i class="fas fa-arrow-right"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xxl-10 offset-xxl-1 col-xl-10 offset-xl-1 col-lg-10 offset-lg-1">
          <div class="events__item mb-10 hover__active">
            <div class="events__item-inner d-sm-flex align-items-center justify-content-between white-bg">
              <div class="events__content">
                <div class="events__meta">
                  <span>July 16, 2022</span>
                  <span>10:30 am - 1:30 pm</span>
                  <span>Weedpatch</span>
                </div>
                <h3 class="events__title"><a href="event-details.html">Foundations of global health</a></h3>
              </div>
              <div class="events__more">
                <a href="event-details.html" class="link-btn">
                  View More
                  <i class="fas fa-arrow-right"></i>
                  <i class="fas fa-arrow-right"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xxl-10 offset-xxl-1 col-xl-10 offset-xl-1 col-lg-10 offset-lg-1">
          <div class="events__item mb-10 hover__active">
            <div class="events__item-inner d-sm-flex align-items-center justify-content-between white-bg">
              <div class="events__content">
                <div class="events__meta">
                  <span>March 24, 2022</span>
                  <span>10:30 am - 12:00 pm</span>
                  <span>Lnland</span>
                </div>
                <h3 class="events__title"><a href="event-details.html">Business creativity workshops</a></h3>
              </div>
              <div class="events__more">
                <a href="event-details.html" class="link-btn">
                  View More
                  <i class="fas fa-arrow-right"></i>
                  <i class="fas fa-arrow-right"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- events area end -->

  <!-- cta area start -->
  <section class="cta__area mb--120">
    <div class="container">
      <div class="cta__inner blue-bg fix">
        <div class="cta__shape">
          <img src="assets/img/cta/cta-shape.png" alt="">
        </div>
        <div class="row align-items-center">
          <div class="col-xxl-7 col-xl-7 col-lg-8 col-md-8">
            <div class="cta__content">
              <h3 class="cta__title">You can be your own Guiding star with our help</h3>
            </div>
          </div>
          <div class="col-xxl-5 col-xl-5 col-lg-4 col-md-4">
            <div class="cta__more d-md-flex justify-content-end p-relative z-index-1">
              <a routerLink="/contact" class="e-btn e-btn-white">Get Started</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- cta area end -->

</main>


</body>
