<p class="text-center fs-3">Customer Create</p>
<div class="col-md-4 offset-md-4">
  <div class="card">
    <div class="card-body">
      <form [formGroup]="customerCreateForm" (ngSubmit)="onSubmit()" id="formCreate">
        <div class="row">
          <input class="form-control" formControlName="id" hidden>
          <div class="mb-3">
            <label class="form-label">Name</label>
            <input type="text" class="form-control" formControlName="name">
            <div *ngIf="nameControl().invalid && (nameControl().touched)" class="text-danger">
              <div *ngIf="nameControl().errors?.required">Name must be required</div>
              <div *ngIf="nameControl().errors?.minlength">name must be longer than 5 character</div>
              <div *ngIf="nameControl().errors?.pattern">Name wrong format</div>
            </div>
          </div>
          <div class="mb-3">
            <label class="form-label">Birthday</label>
            <input type="date" class="form-control" formControlName="birthday">
            <div *ngIf="birthdayControl().invalid && birthdayControl().touched || birthdayControl().dirty" class="text-danger">
              <div *ngIf="birthdayControl().errors?.required">Birthday must be required</div>
            </div>
          </div>
          <div class="mb-3">
            <label class="form-label me-3">Gender</label>
            <div class="d-inline me-3">
              <input type="radio" class="me-1" [value]="true" formControlName="gender">Man
            </div>
            <div class="d-inline">
              <input type="radio" class="me-1" [value]="false" formControlName="gender">Woman
            </div>
            <div *ngIf="genderControl().invalid && genderControl().touched || genderControl().dirty" class="text-danger">
              <div *ngIf="genderControl().errors?.required">Gender must be required</div>
            </div>
          </div>
          <div class="mb-3">
            <label class="form-label">Import</label>
            <input type="date" class="form-control" formControlName="import">
            <div *ngIf="importControl().invalid && importControl().touched || importControl().dirty" class="text-danger">
              <div *ngIf="importControl().errors?.required">Import Date must be required</div>
            </div>
          </div>
          <div class="mb-3">
            <label class="form-label">Export</label>
            <input type="date" class="form-control" formControlName="export">
            <div *ngIf="exportControl().invalid && exportControl().touched || exportControl().dirty" class="text-danger">
              <div *ngIf="exportControl().errors?.required">Export Date must be required</div>
            </div>
          </div>
          <div class="mb-3">
            <label class="form-label">Phone Number</label>
            <input type="text" class="form-control" formControlName="phoneNumber">
            <div *ngIf="phoneNumberControl().invalid && phoneNumberControl().touched || phoneNumberControl().dirty" class="text-danger">
              <div *ngIf="phoneNumberControl().errors?.required">Phone Number must be required</div>
              <div *ngIf="phoneNumberControl().errors?.pattern">Phone Number wrong format</div>
            </div>
          </div>
          <div class="mb-3">
            <label class="form-label">Email</label>
            <input type="text" class="form-control" formControlName="email">
            <div *ngIf="emailControl().invalid && emailControl().touched || emailControl().dirty" class="text-danger">
              <div *ngIf="emailControl().errors?.required">Email must be required</div>
              <div *ngIf="emailControl().errors?.email">Email wrong format</div>
            </div>
          </div>
          <div class="mb-3">
            <label class="form-label">Customer Type</label>
            <select class="form-select" formControlName="customerType">
              <option value="">Search Customer Type</option>
              <option [ngValue]="ct" *ngFor="let ct of customerTypeList">{{ct.name}}</option>
            </select>
            <div *ngIf="customerTypeControl().invalid && customerTypeControl().touched || customerTypeControl().dirty" class="text-danger">
              <div *ngIf="customerTypeControl().errors?.required">Customer Type must be required</div>
            </div>
          </div>
        </div>
      </form>
      <button type="button" class="btn btn-primary btn-md me-4" routerLink="/customer">Cancel</button>
      <button type="submit" class="btn btn-primary btn-md save" form="formCreate" [disabled]="customerCreateForm.invalid">Save</button>
    </div>
  </div>
</div>

